html {
	overflow-y: scroll;
}
body {
	margin: 0;
	background: #fff; /* Old browsers */
	background: -moz-linear-gradient(top,  #e5e899 0%, #ffffff 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top,  #e5e899 0%, #ffffff 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom,  #e5e899 0%, #ffffff 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e5e899', endColorstr='#f9f9f9',GradientType=0 ); /* IE6-9 */
	background-repeat: repeat-x;
}
section, footer, aside, nav, article, figure, audio, video, canvas  {
	display:block;
}
/* header start */
header {
	display: flex;
	justify-content: center;
}
header section {
	margin: 10px;
	line-height: 24px;
}
.logo {
	display: table;
	background-color: black;
	border-radius: 50%;
}
.logo-text {
	display: table-cell;
	vertical-align: middle;
	width: 100px;
	height: 100px;
	text-align: center;
	color: #ccff00;
	border: 5px solid #ccff00;
	border-radius: 50%;
	font-size: 24px;
	line-height: 24px;
	font-family: Arial;
	font-weight: bold;
}
.contacts img {
	height: 24px;
	margin-right: 5px;
}
.contaktu {
	display: flex;
	align-items: center;
}
/* header end */
/* content start */
.mainContent {
	display: flex;
	justify-content: center;
}
/* content end */
/* carousel start */
.slider {
	position: relative;
	width: 800px;
}
.slider input[type=radio] {
    display: none;
}
.slider-controls {
	display: flex;
    justify-content: center;
}
.slider-controls label {
	display: flex;
	align-items: center;
    width: 148px;
    height: 38px;
    background: #cece00;
    border-radius: 7px;
    border: 1px solid #5f5f5f;
    cursor: pointer;
    transition: background-color 1s;
	padding: 0 10px;
	margin: 0 3px;
	line-height: 14px;
	font-weight: bold;
}
.slider-inner {
	width: 800px;
    overflow: hidden;
}
.slider-slides {
	display: flex;
    width: 400%;
    height: 1500px; /* стандартная величина первого слайда который грузиться по умолчанию */
	-webkit-transition: all 1s cubic-bezier(1, 0, 0, 1);
	transition:         all 1s cubic-bezier(1, 0, 0, 1);
}
.slide {
    width: 800px;
}
.slide-content {
	width: 780px;
	padding: 10px;
	white-space: pre-wrap;
}
.slide-content img {
	border: 2px solid #5f5f5f;
	border-radius: 15px;
	margin: 10px;
}
#btn-1:checked ~ .slider-controls label[for="btn-1"],
#btn-2:checked ~ .slider-controls label[for="btn-2"],
#btn-3:checked ~ .slider-controls label[for="btn-3"],
#btn-4:checked ~ .slider-controls label[for="btn-4"] { 
    background-color: transparent;
}
#btn-1:checked ~ .slider-inner .slider-slides { 
	transform:translate(0);
	/* висота по умолчанию */
}
#btn-2:checked ~ .slider-inner .slider-slides { 
	transform:translate(-800px);
	height: 700px; /* высота 2го блока */
}
#btn-3:checked ~ .slider-inner .slider-slides { 
	transform:translate(-1600px);
	height: 900px; /* высота 3го блока */
}
#btn-4:checked ~ .slider-inner .slider-slides { 
	transform:translate(-2400px);
	height: 350px; /* высота 4го блока */
}
/* carousel end */
/* footer start */
.page-footer {
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 50px;
}
.page-footer .info {
	font-family: ARIAL;
}
/* footer end */
/* центровка текста */
.textCenter {
	width: 100%;
	text-align: center;
}